input {
    display: inline-block;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: brown;
}

.container {
    .content {
        width: 50%;
        position: absolute;
        top: 30%;
        left: 25%;
    }

    .row {
        margin: 20px 30px;

        
    }
}

h2 {
    font-size: 30p;
    letter-spacing: 2px;
}

button {
    text-align: center;
}